<div id="map">
    <button class="rotate-north ol-unselectable ol-control"><span class="material-icons">north</span></button> 
</div>

<div class="panelIndices">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Drastic
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-drastic-d></app-drastic-d>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                D
                </mat-panel-title>
                <mat-panel-description>
                    Depth to Groundwather
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="dUploadForm" (ngSubmit)="uploadFile('d')">
                <div class="full-width">
                    <label>MDT File</label>
                    <input type="file"  (change)="onFileSelect($event, 'd')">
                </div>
                <button class="button" type="submit">OK</button>
            </form>
         
            <form [formGroup]="dForm" (ngSubmit)="calculateD()">
                <mat-form-field class="full-width">
                    <label>Maximum depth</label>
                    <input matInput [formControl]="dForm_maxDepth">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <label>Distance</label>
                    <input matInput [formControl]="dForm_distance">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <label >Minimum size of watershed basin</label>
                    <input matInput [formControl]="dForm_minSize">
                </mat-form-field>      
                <mat-grid-list cols="3" rowHeight="60px">
                    <mat-grid-tile><button class="button" type="submit">OK</button></mat-grid-tile>
                    <mat-grid-tile><mat-spinner class="spinner" *ngIf="dSpinnerVisible" diameter="40"></mat-spinner></mat-grid-tile>
                    <mat-grid-tile><mat-slide-toggle [checked]="visibleDLayer" (change)="changeShowDLayer($event)">Layer</mat-slide-toggle></mat-grid-tile>
                </mat-grid-list> 
                
                
            </form>
            
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                R
                </mat-panel-title>
                <mat-panel-description>
                    Net Recharge
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="rUploadForm" (ngSubmit)="uploadFile('r')">
                <div class="full-width">
                    <label>MDT File</label>
                    <input type="file"  (change)="onFileSelect($event, 'r')">
                </div>
                <button class="button" type="submit">OK</button>
            </form>

            <form [formGroup]="rForm" (ngSubmit)="calculateR()">
                <mat-form-field class="full-width">
                    <label>Rattings</label>
                    <input matInput [formControl]="rForm_rattings">
                </mat-form-field>      
                <button class="button" type="submit">OK</button>
            </form>
            <mat-slide-toggle [checked]="visibleRLayer" (change)="changeShowRLayer($event)">Result</mat-slide-toggle>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                A
                </mat-panel-title>
                <mat-panel-description>
                    Aquifer Media
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="aUploadForm" (ngSubmit)="uploadFile('a')">
                <div class="full-width">
                    <label>Shapefile</label>
                    <input type="file"  (change)="onFileSelect($event, 'a')">
                </div>
                <button class="button" type="submit">OK</button>
            </form>
            <button class="button" (click)="getAtributesA()">Get Attributes</button>
            
            <form [formGroup]="aForm" (ngSubmit)="calculateA()">
                
                
                
                <mat-form-field appearance="fill">
                    <mat-label>Attribute</mat-label>
                    <mat-select [formControl]="aForm_header" #attribute (selectionChange)="changeHeaderShpA(attribute.value)">
                        <mat-option  *ngFor="let aHeader of aHeaders" [value]="aHeader">
                            {{aHeader}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Class</mat-label>
                    <mat-select [formControl]="aForm_class">
                        <mat-option *ngFor="let aValue of aValues" [value]="aValue">
                            {{aValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <label>Ratings</label>
                    <input matInput type="number" [formControl]="aForm_weight">
                </mat-form-field>     
                <button class="button" (click)="addARattings()">Add Rattings</button> 
                

                <mat-table #tableARatings [dataSource]="aRatings">

                    <ng-container matColumnDef="class">
                    <mat-header-cell *matHeaderCellDef > Class </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.class}} </mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="value">
                    <mat-header-cell *matHeaderCellDef > Ratings </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef > Options </mat-header-cell>
                        <mat-cell *matCellDef="let element"> 
                            <button mat-icon-button color="danger" (click)="deleteARatings(element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-grid-list cols="3" rowHeight="60px">
                    <mat-grid-tile><button class="button" type="submit">Ok</button></mat-grid-tile>
                    <mat-grid-tile><mat-spinner class="spinner" *ngIf="aSpinnerVisible" diameter="40"></mat-spinner></mat-grid-tile>
                    <mat-grid-tile><mat-slide-toggle [checked]="visibleALayer"  (change)="changeShowALayer($event)">Result</mat-slide-toggle></mat-grid-tile>
                </mat-grid-list> 
                
                
                    
               
                
            </form>
            
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                S
                </mat-panel-title>
                <mat-panel-description>
                    Soil Media
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="sUploadForm" (ngSubmit)="uploadFile('s')">
                <div class="full-width">
                    <label>Shapefile</label>
                    <input type="file"  (change)="onFileSelect($event, 's')">
                </div>
                <button class="button" type="submit">OK</button>
            </form>
            
            <form [formGroup]="aForm" (ngSubmit)="calculateS()">

                <mat-form-field appearance="fill">
                    <mat-label>Attribute</mat-label>
                    <mat-select [formControl]="sForm_header" #attribute (selectionChange)="changeHeaderShpS(attribute.value)">
                        <mat-option  *ngFor="let sHeader of sHeaders" [value]="sHeader">
                            {{sHeader}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Class</mat-label>
                    <mat-select [formControl]="sForm_class">
                    <mat-option *ngFor="let sValue of sValues" [value]="sValue">
                        {{sValue}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <label>Ratings</label>
                    <input matInput type="number" [formControl]="sForm_weight">
                </mat-form-field>     
                <button class="button" (click)="addSRattings()">Adicionar Rattings</button> 

                <mat-table #tableARatings [dataSource]="sRatings">

                    <ng-container matColumnDef="class">
                      <mat-header-cell *matHeaderCellDef > Class </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.class}} </mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="value">
                      <mat-header-cell *matHeaderCellDef > Ratings </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef > Options </mat-header-cell>
                        <mat-cell *matCellDef="let element"> 
                            <button mat-icon-button color="danger" (click)="deleteSRatings(element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                
                    <mat-header-row *matHeaderRowDef="displayedColumnsS"></mat-header-row>
                    <mat-row  *matRowDef="let row; columns: displayedColumnsS;"></mat-row>
                  </mat-table>

                <button class="button" type="submit">OK</button>
            </form>
            <mat-slide-toggle [checked]="visibleSLayer" (change)="changeShowSLayer($event)">Result</mat-slide-toggle>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                T
                </mat-panel-title>
                <mat-panel-description>
                    Topography
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
            <mat-slide-toggle [checked]="visibleTLayer" (change)="changeShowTLayer($event)">Result</mat-slide-toggle>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                I
                </mat-panel-title>
                <mat-panel-description>
                    Impact of The Vadose Zone
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
            <mat-slide-toggle [checked]="visibleILayer" (change)="changeShowILayer($event)">Result</mat-slide-toggle>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                C
                </mat-panel-title>
                <mat-panel-description>
                    Hydraulic Conductivity
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
            <mat-slide-toggle [checked]="visibleCLayer" (change)="changeShowCLayer($event)">Result</mat-slide-toggle>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    DRASTIC
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
            <mat-slide-toggle [checked]="visibleResultLayer" (change)="changeShowResultLayer($event)">Result</mat-slide-toggle>
        </mat-expansion-panel>

    </mat-expansion-panel>
</div>