#map{
    width: 100%;
    height: 100vh;
}

.panelIndices{
    position: absolute;
    float: left;
    top: 0px;
    left: 0px;
    width: 400px;
    margin: 20px;
    bottom: 0px;
    overflow: auto;
}

.panelIndicesTab{
    position: absolute;
    float: left;
    top: 0px;
    right: 0px;
    width: 400px;
    margin: 20px;
    bottom: 0px;
    overflow: auto;
    background-color: white;
}

.ol-zoom{
    bottom: 30px;
    right: 10px;
    top: none;
    left: none;
}

#form{
    width: 100%;
}

.full-width{
    width: 100%;
}

.ol-zoom{
    display: none!important;
}

.rotate-north{
    z-index: 100;
    right: 10px;
    top: 10px;
}

.button{
    margin-top: 3px;
    margin-bottom: 10px;
}

.spinner{
    height: 30px;
}