<div id="map"></div>
<div class="panelIndices">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Drastic
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                D
                </mat-panel-title>
                <mat-panel-description>
                    Depth to Groundwather
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="uploadForm" (ngSubmit)="uploadFile()">
                <div class="full-width">
                    <label>MDT File</label>
                    <input type="file"  (change)="onFileSelect($event)">
                </div>
                <button class="button" type="submit">OK</button>
            </form>
            <br>
            <form [formGroup]="dForm" (ngSubmit)="calculateD()">
                <mat-form-field class="full-width">
                    <label>Maximum depth</label>
                    <input matInput [formControl]="dForm_maxDepth">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <label>Distance</label>
                    <input matInput [formControl]="dForm_distance">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <label >Minimum size of watershed basin</label>
                    <input matInput [formControl]="dForm_minSize">
                </mat-form-field>       
                <button class="button" type="submit">OK</button>
            </form>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                R
                </mat-panel-title>
                <mat-panel-description>
                    Net Recharge
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="uploadForm" (ngSubmit)="uploadFile()">
                <div class="full-width">
                    <label>MDT File</label>
                    <input type="file"  (change)="onFileSelect($event)">
                </div>
                <button class="button" type="submit">OK</button>
            </form>
            <br>
            <form [formGroup]="rForm" (ngSubmit)="calculateR()">
                <mat-form-field class="full-width">
                    <label>Rattings</label>
                    <input matInput [formControl]="rForm_rattings">
                </mat-form-field>      
                <button class="button" type="submit">OK</button>
            </form>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                A
                </mat-panel-title>
                <mat-panel-description>
                    Aquifer Media
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="aForm" (ngSubmit)="calculateA()">
                <button class="button" (click)="getHeaderShpA()">Header</button>
                <button class="button" (click)="getValueShpA()">values</button>
                <mat-form-field appearance="fill">
                    <mat-label>Fields</mat-label>
                    <mat-select [formControl]="aForm_header">
                    <mat-option   *ngFor="let aHeader of aHeaders" [value]="aHeader">
                        {{aHeader}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Values</mat-label>
                    <mat-select>
                    <mat-option [formControl]="aForm_class" *ngFor="let aValue of aValues" [value]="aValue">
                        {{aValue}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <label>Weight</label>
                    <input matInput [formControl]="aForm_weight">
                </mat-form-field>     
                <button class="button" (click)="addARattings()">Adicionar Rattings</button> 

                <table mat-table [dataSource]="aRatings" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
                
                <!-- Position Column -->
                <ng-container matColumnDef="class">
                    <th mat-header-cell *matHeaderCellDef> Classe </th>
                    <td mat-cell *matCellDef="let element"> {{element.class}} </td>
                </ng-container>
                
                <!-- Name Column -->
                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef> Value </th>
                    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                </ng-container>
                
                
                </table>
                  
                  
                <button class="button" type="submit">OK</button>
            </form>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                S
                </mat-panel-title>
                <mat-panel-description>
                    Soil Media
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                T
                </mat-panel-title>
                <mat-panel-description>
                    Topography
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                I
                </mat-panel-title>
                <mat-panel-description>
                    Impact of The Vadose Zone
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                C
                </mat-panel-title>
                <mat-panel-description>
                    Hydraulic Conductivity
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    DRASTIC
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>

    </mat-expansion-panel>
</div>