<div id="map">
    <button class="rotate-north ol-unselectable ol-control"><span class="material-icons">north</span></button> 
</div>
<div class="panelIndices">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Drastic
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                D
                </mat-panel-title>
                <mat-panel-description>
                    Depth to Groundwather
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="uploadForm" (ngSubmit)="uploadFile()">
                <div class="full-width">
                    <label>MDT File</label>
                    <input type="file"  (change)="onFileSelect($event)">
                </div>
                <button class="button" type="submit">OK</button>
            </form>
         
            <form [formGroup]="dForm" (ngSubmit)="calculateD()">
                <mat-form-field class="full-width">
                    <label>Maximum depth</label>
                    <input matInput [formControl]="dForm_maxDepth">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <label>Distance</label>
                    <input matInput [formControl]="dForm_distance">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <label >Minimum size of watershed basin</label>
                    <input matInput [formControl]="dForm_minSize">
                </mat-form-field>       
                <button class="button" type="submit">OK</button>
                
            </form>
            <mat-slide-toggle [checked]="visibleDLayer" (change)="changeShowDLayer($event)">Result</mat-slide-toggle>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                R
                </mat-panel-title>
                <mat-panel-description>
                    Net Recharge
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="uploadForm" (ngSubmit)="uploadFile()">
                <div class="full-width">
                    <label>MDT File</label>
                    <input type="file"  (change)="onFileSelect($event)">
                </div>
                <button class="button" type="submit">OK</button>
            </form>

            <form [formGroup]="rForm" (ngSubmit)="calculateR()">
                <mat-form-field class="full-width">
                    <label>Rattings</label>
                    <input matInput [formControl]="rForm_rattings">
                </mat-form-field>      
                <button class="button" type="submit">OK</button>
            </form>
            <mat-slide-toggle [checked]="visibleRLayer" (change)="changeShowRLayer($event)">Result</mat-slide-toggle>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                A
                </mat-panel-title>
                <mat-panel-description>
                    Aquifer Media
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="uploadForm" (ngSubmit)="uploadFile()">
                <div class="full-width">
                    <label>Shapefile</label>
                    <input type="file"  (change)="onFileSelect($event)">
                </div>
                <button class="button" type="submit">OK</button>
            </form>
            
            <form [formGroup]="aForm" (ngSubmit)="calculateA()">
                <!-- <button class="button" (click)="getHeaderShpA()">Header</button>
                <button class="button" (click)="getValueShpA()">values</button> -->
                <mat-form-field appearance="fill">
                    <mat-label>Attribute</mat-label>
                    <mat-select [formControl]="aForm_header" #attribute (selectionChange)="changeHeaderShpA(attribute.value)">
                        <mat-option  *ngFor="let aHeader of aHeaders" [value]="aHeader">
                            {{aHeader}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Classe</mat-label>
                    <mat-select [formControl]="aForm_class">
                    <mat-option *ngFor="let aValue of aValues" [value]="aValue">
                        {{aValue}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <label>Ratings</label>
                    <input matInput [formControl]="aForm_weight">
                </mat-form-field>     
                <button class="button" (click)="addARattings()">Adicionar Rattings</button> 

        

                <mat-table #table [dataSource]="aRatings">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                
                    <!-- ID Column -->
                    <ng-container matColumnDef="class">
                      <mat-header-cell *matHeaderCellDef > ID </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.class}} </mat-cell>
                    </ng-container>
                
                    <!-- Progress Column -->
                    <ng-container matColumnDef="value">
                      <mat-header-cell *matHeaderCellDef > value </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.value}} </mat-cell>
                    </ng-container>
                
                
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row [@rowsAnimation]="" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                  
                  
                <button class="button" type="submit">OK</button>
            </form>
            <mat-slide-toggle [checked]="visibleALayer" (change)="changeShowALayer($event)">Result</mat-slide-toggle>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                S
                </mat-panel-title>
                <mat-panel-description>
                    Soil Media
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
            <mat-slide-toggle [checked]="visibleSLayer" (change)="changeShowSLayer($event)">Result</mat-slide-toggle>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                T
                </mat-panel-title>
                <mat-panel-description>
                    Topography
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
            <mat-slide-toggle [checked]="visibleTLayer" (change)="changeShowTLayer($event)">Result</mat-slide-toggle>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                I
                </mat-panel-title>
                <mat-panel-description>
                    Impact of The Vadose Zone
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
            <mat-slide-toggle [checked]="visibleILayer" (change)="changeShowILayer($event)">Result</mat-slide-toggle>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                C
                </mat-panel-title>
                <mat-panel-description>
                    Hydraulic Conductivity
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
            <mat-slide-toggle [checked]="visibleCLayer" (change)="changeShowCLayer($event)">Result</mat-slide-toggle>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    DRASTIC
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
            <mat-slide-toggle [checked]="visibleResultLayer" (change)="changeShowResultLayer($event)">Result</mat-slide-toggle>
        </mat-expansion-panel>

    </mat-expansion-panel>
</div>